footer {
  width: 100%;
  min-height: 500px;
  background-color: #32373c;
  color: white;
}

.first-para {
  padding-top: 20px;

  border-bottom: 1px solid #aaa2a22a;
}
.first-para h1 {
  color: lightgray;
}
.info {
  width: 270px;
  height: 80px;

  display: flex;
  justify-content: space-around;
}
.info h1 {
  font-size: 50px;
}
.info-2 {
  display: flex;
  flex-direction: column;
  gap: -20px;
}
.p-tag {
  font-size: 12px;
  color: lightgray;
}
.second-para {
  margin-top: 40px;
  border-bottom: 1px solid #aaa2a22a;
}
.second-para h3 {
  color: rgb(179, 173, 173);
}
.details {
  margin-top: 25px;
}
.details a {
  text-decoration: none;
  color: white;
}
.last-para {
  margin-top: 50px;
}
.last-para-info {
  display: flex;
  flex-direction: column;
}
.information {
  display: flex;
  gap: 20px;
}
.info-color {
  color: rgb(179, 173, 173);
}
.copyright {
  color: rgb(179, 173, 173);
}
.payment-info {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
